body{
    background-image: url(../img/fondoMain.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

header{
    color: white;
    height: 25vh;
}

header #menu{
    background-image: url(../img/logo.png);
    position: fixed;
    top: 0;
    width: 100%;
    
}

header #menu ul{
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-image: url(../img/logoMenu.png);
    
}

header #menu ul li{
   display: inline-block;
   padding: 10px;
   vertical-align: middle;
   padding: 0;
    
}

header #menu ul li a{
     display: inline-block;
    
}
header #menu ul li a{
    color: #000000;
    text-decoration: none;
}

header #menu ul li a:hover{
    text-decoration: underline;
}

header #menu ul #logo{
    margin-right: 3%;
    margin-left: 0px;
    background-image: url(../img/logoMenu.png);
    height: 116.5px;
    
}
