body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

#main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

header {
    text-align: center;
    padding: 20px 0;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header li {
    margin: 0 15px;
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header a:hover {
    color: #72C32E;
}

.text {
    text-align: center;
}

.login-container {
    background-color: #72C32E;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

.login-container input {
    width: calc(100% - 16px); 
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
    
.login-container button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.register-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #45a049;
}