body{
    background-image: url(../img/fondoMain.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

.text h1{
    font-size: 50px;
    color: #72C32E;
    background-color: #fff;
    text-align: center;
}

.Formulario
{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Formulario input
{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    
}

footer{
    background-color: black;
    color: white;
    padding: 50px 20px;
    text-align: center;
}